.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

.card-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  min-width: 40vw;
  background-color: white;
}
.heading {
  color: #171f46;
  font-size: 24px;
  margin: 2px;
}
.description {
  color: #64748b;
  font-size: 16px;
  margin: 2px;
}
.image {
  align-self: flex-end;
  width: 80px;
  height: 80px;
}
