.item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.p {
  color: #7e858e;
  font-size: 18px;
  font-weight: 300;
  margin-left: 5px;
}
.b {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-width: 0px;
  margin-top: 20px;
}
.deleteimage {
  width: 20px;
  height: 20px;
}
