.notfound-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 38px;
  font-weight: bold;
  font-family: 'Bree Serif';
}
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  height: cover;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 100vh;
}

@media screen and (min-width: 567px) {
  .home-bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
    padding: 40px;
  }
}
