.back {
  background-color: white;
  padding: 30px;
}
.card {
  background-image: linear-gradient(#ff6e7f, #bfe9ff);
  padding: 20px;
  border-radius: 8px;
}
.heading {
  color: #0f172a;
  font-size: 38px;
  margin-bottom: 10px;
  text-align: center;
}
.countstate {
  color: #334155;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}
.b {
  width: 110px;
  height: 32px;
  background-color: white;
  color: #1e293b;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  border-width: 5px;
  border-color: #1e293b;
}
.msg {
  color: #334155;
  font-size: 16px;
  text-align: center;
}
