/* Write your CSS here */
.back {
  background-color: #1e293b;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #f0bb03;
  font-size: 44px;
  font-family: 'Bree Serif';
  text-align: center;
}
.text {
  color: white;
  font-family: 'Bree Serif';
  font-size: 28px;
  font-weight: bold;
}
.b {
  background-color: white;
  width: 110px;
  height: 36px;
  border-radius: 5px;
  border-width: 0px;
  color: black;
  text-align: center;
}
